In [5]:
import vaex
import pandas as pd
from datetime import datetime
import numpy as np

In [6]:
df_vaex = vaex.read_csv("date.txt")
df_pd = pd.read_csv("date.txt")

In [7]:
df_vaex.head()

  #  meowdate      id
  0  2/12/2020      1
  1  4/20/2020      2
  2  xxxxx          3
  3  12/4/2020    nan

In [8]:
df_pd.head()

    meowdate   id
0  2/12/2020  1.0
1  4/20/2020  2.0
2      xxxxx  3.0
3  12/4/2020  NaN