In [1]:
import vaex
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df_vaex = vaex.read_csv("date.txt")
df_pd = pd.read_csv("date.txt")

In [3]:
df_vaex.head()

  #  meowdate      id    value
  0  2/12/2020      1        1
  1  4/20/2020      2        2
  2  xxxxx          3        3
  3  12/4/2020      5      nan

In [4]:
df_pd.head()

    meowdate  id  value
0  2/12/2020   1    1.0
1  4/20/2020   2    2.0
2      xxxxx   3    3.0
3  12/4/2020   5    NaN

In [5]:
df_pd.pivot(index='id', columns='meowdate', values='value')

meowdate  12/4/2020  2/12/2020  4/20/2020  xxxxx
id
1               NaN        1.0        NaN    NaN
2               NaN        NaN        2.0    NaN
3               NaN        NaN        NaN    3.0
5               NaN        NaN        NaN    NaN

In [6]:
df_vaex.pivot(index='id', columns='meowdate', values='value')

AttributeError: 'DataFrameArrays' object has no attribute 'pivot'

In [7]:
df_vaex_2 = vaex.from_pandas(df_pd)