In [4]:
import vaex
import numpy as np

In [11]:
col_name = "month"
value = "12"
value = np.repeat(value, 4)
param_dict = {}
param_dict[col_name] = value

In [7]:
df = vaex.from_arrays(**param_dict)

In [8]:
df.head()

  #    month
  0       12
  1       12
  2       12
  3       12
  4       12

In [3]:
?vaex.from_arrays

Signature: vaex.from_arrays(**arrays)
Docstring:
Create an in memory DataFrame from numpy arrays.

Example

>>> import vaex, numpy as np
>>> x = np.arange(5)
>>> y = x ** 2
>>> vaex.from_arrays(x=x, y=y)
  #    x    y
  0    0    0
  1    1    1
  2    2    4
  3    3    9
  4    4   16
>>> some_dict = {'x': x, 'y': y}
>>> vaex.from_arrays(**some_dict)  # in case you have your columns in a dict
  #    x    y
  0    0    0
  1    1    1
  2    2    4
  3    3    9
  4    4   16

:param arrays: keyword arguments with arrays
:rtype: DataFrame
File:      ~/miniconda3/envs/vaex/lib/python3.8/site-packages/vaex/__init__.py
Type:      function

In [9]:
df_vaex = vaex.read_csv("date.txt")

In [10]:
df_vaex

  #  meowdate      id    value
  0  2/12/2020      1        1
  1  4/20/2020      2        2
  2  xxxxx          3        3
  3  12/4/2020      5      nan

In [12]:
df_vaex[col_name] =  value

In [13]:
df_vaex

  #  meowdate      id    value    month
  0  2/12/2020      1        1       12
  1  4/20/2020      2        2       12
  2  xxxxx          3        3       12
  3  12/4/2020      5      nan       12

In [15]:
df_vaex.shape[0]

4

In [16]:
df.shape

(5, 1)

In [21]:
value = np.repeat(value, 4)
value

array(['value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value', 'value', 'value', 'value', 'value', 'value', 'value',
       'value'], dtype='<U5')