# Vaex part

In [56]:
import vaex as vx 
import numpy as np

In [57]:
df_vaex = vx.from_csv('for-filter.txt')

In [58]:
df_filter = df_vaex[df_vaex['a'] > 0]
df_filter.head()

  #    a    b    c    d
  0    1    2    3    4
  1    2    6    7    8
  2    4    5    5    5

In [61]:
df_filter = df_filter.extract()

In [62]:
df_filter['e'] = np.repeat("value", 3)

In [37]:
df_filter

  #    a    b    c    d
  0    1    2    3    4
  1    2    6    7    8
  2    4    5    5    5

In [47]:
df_one_col = vx.from_arrays(**{"dd":np.repeat("value", 3)})

In [48]:
df_one_col

  #  dd
  0  value
  1  value
  2  value

In [51]:
vx.concat([df_one_col,df_filter])

  #
  0
  1
  2
  3
  4
  5

In [50]:
?vx.concat

Signature: vx.concat(dfs)
Docstring:
Concatenate a list of DataFrames.

:rtype: DataFrame
File:      ~/miniconda3/envs/vaex/lib/python3.8/site-packages/vaex/__init__.py
Type:      function

# Pandas part

In [44]:
import pandas as pd

In [45]:
df_pd = pd.read_csv('for-filter.txt')

In [46]:
df_filter_pd = df_pd[df_pd['a'] > 0]
df_filter_pd.head()

   a  b  c  d
0  1  2  3  4
1  2  6  7  8
3  4  5  5  5

In [43]:
df_filter_pd.loc[:, "e"] = np.repeat("value", 3)

/home/cpu11453/miniconda3/envs/vaex/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [42]:
df_filter_pd

   a  b  c  d      e
0  1  2  3  4  value
1  2  6  7  8  value
3  4  5  5  5  value