In [24]:
import vaex
import pandas as pd
from datetime import datetime
import numpy as np

In [31]:
vaex.__version__

{'vaex': '3.0.0',
 'vaex-core': '2.0.3',
 'vaex-viz': '0.4.0',
 'vaex-hdf5': '0.6.0',
 'vaex-server': '0.3.1',
 'vaex-astro': '0.7.0',
 'vaex-jupyter': '0.5.2',
 'vaex-ml': '0.9.0',
 'vaex-arrow': '0.5.1'}

In [25]:
df_vaex = vaex.from_csv("date.txt")
df_pd = pd.read_csv("date.txt")

In [26]:
df_vaex.columns.keys()

dict_keys(['meowdate', 'id', 'value'])

In [27]:
df_vaex.head()

  #  meowdate      id    value
  0  2/12/2020      1        1
  1  4/20/2020      2        2
  2  xxxxx          3        3
  3  12/4/2020      5      nan

In [28]:
df_pd.head()

    meowdate  id  value
0  2/12/2020   1    1.0
1  4/20/2020   2    2.0
2      xxxxx   3    3.0
3  12/4/2020   5    NaN

In [29]:
df_pd.columns.values

array(['meowdate', 'id', 'value'], dtype=object)

In [30]:
df_vaex.columns.keys()

dict_keys(['meowdate', 'id', 'value'])