In [23]:
import vaex
import pandas as pd
from datetime import datetime
import numpy as np

In [24]:
df_vaex = vaex.read_csv("date.txt")
df_pd = pd.read_csv("date.txt")

In [25]:
df_pd.head()

    meowdate   id
0  2/12/2020  1.0
1  4/20/2020  2.0
2      xxxxx  3.0
3  12/4/2020  NaN

In [26]:
df_vaex.head()

  #  meowdate      id
  0  2/12/2020      1
  1  4/20/2020      2
  2  xxxxx          3
  3  12/4/2020    nan

In [27]:
df_pd["meowdate"].isnull()

0    False
1    False
2    False
3    False
Name: meowdate, dtype: bool

In [28]:
df_pd["id"].isnull()

0    False
1    False
2    False
3     True
Name: id, dtype: bool

In [29]:
df_vaex["meowdate"].isnull()

AttributeError: 'Expression' object has no attribute 'isnull'

In [30]:
df_vaex["meowdate"].notnull()

AttributeError: 'Expression' object has no attribute 'notnull'

In [31]:
df_vaex["meowdate"].dropna()

Expression = meowdate
Length: 4 dtype: str (column)
-----------------------------
0  2/12/2020
1  4/20/2020
2      xxxxx
3  12/4/2020

In [32]:
df_vaex["meowdate"]

Expression = meowdate
Length: 4 dtype: str (column)
-----------------------------
0  2/12/2020
1  4/20/2020
2      xxxxx
3  12/4/2020

In [37]:
df_vaex[df_vaex["id"]!=np.nan]

  #  meowdate      id
  0  2/12/2020      1
  1  4/20/2020      2
  2  xxxxx          3
  3  12/4/2020    nan

In [45]:
df_pd[df_pd["id"]!=None]

    meowdate   id
0  2/12/2020  1.0
1  4/20/2020  2.0
2      xxxxx  3.0
3  12/4/2020  NaN

In [46]:
df_vaex["id"].isna()

Expression = isna(id)
Length: 4 dtype: bool (expression)
----------------------------------
0  False
1  False
2  False
3   True